body {
	margin: 0;
	background-color: #b1d0e0;
}

.calculator-container {
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	width: 50%;
	height: 500px;
	background-color: #6998ab;
	display: flex;
	flex-direction: column;
}

.calc-display-container {
	flex: 1;
	padding: 5px 5px 5px 5px;
	background-color: #406882;
}

.calc-display {
	height: 100%;
	background-color: #b1d0e0;
	text-align: end;
}

.calc-buttons {
	margin-top: 5px;
	display: flex;
	flex: 7;
	background-color: #406882;
	flex-direction: row;
	gap: 5px;
	padding: 5px;
}

.number-buttons {
	flex: 3;
	display: flex;
	flex-direction: column;
	background-color: #b1d0e0;
}

.number-buttons-row {
	flex: auto;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row-reverse;
}

.number-buttons-row > * {
	flex: auto;
}

.operator-buttons {
	width: 100%;
	flex: 0.5;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #b1d0e0;
}

.operator-buttons > * {
	flex: auto;
}
